@import 'tailadmin';
@import './satoshi.css';

@font-face {
  font-family: 'TT-Cottons-Light';
  src: url('./fonts/tt-cottons-light-demo.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-brand: TT-Cottons-Light;
  --font-satoshi: Satoshi-Regular, sans-serif;

  /* --color-brand-25: #efffe5;
  --color-brand-50: #efffe5;
  --color-brand-100: #daffc8;
  --color-brand-200: #beffa2;
  --color-brand-300: #88fb5b;
  --color-brand-400: #5ff229;
  --color-brand-500: #3ed80a;
  --color-brand-600: #2bad03;
  --color-brand-700: #238308;
  --color-brand-800: #20670d;
  --color-brand-900: #1d5710;
  --color-brand-950: #093102; */

  --color-brand-50: #f2fbf9;
  --color-brand-100: #d3f4ed;
  --color-brand-200: #a6e9db;
  --color-brand-300: #72d6c6;
  --color-brand-400: #44bdac;
  --color-brand-500: #2a9d8f;
  --color-brand-600: #208177;
  --color-brand-700: #1d6861;
  --color-brand-800: #1c534f;
  --color-brand-900: #1b4642;
  --color-brand-950: #0a2928;


}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-brand);
    letter-spacing: 0.1rem;
  }

  body {
    @apply relative font-normal font-satoshi z-1 bg-gray-50;
    letter-spacing: 0.05rem;
  }
}

/* Custom edge-style button */

